* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background: url('../img/sukunaback.jpg');
    background-position: 60px -42px;
    background-size: cover;
}
.titulo{
    text-align: center;
    position: relative;
    top: 10px;

}
.texto-destaque {
    color: red;
    font-style: oblique;
    font-size: larger;
}

h1{
 color: black;
}

.selecao {

    margin: 10%;

}

.personas {
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 25px;
    padding: 2%;
}

.personas_2 {
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 25px;
    padding: 1%;
    
    
    
    
}
.personas :hover {
    cursor: pointer;
    transform: scale(1.1);

}

.personas_2 :hover {
    cursor: pointer;
    transform: scale(1.1);

}

img {
    transition: transform 0.5s;
    display: block;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 45%;
    
}

.geto :hover {
    color: blue;
}
  